<form [formGroup]="recipeForm" (submit)="addRecipe()">
  <div class="row">
    <mat-form-field>
      <mat-label>שם המתכון</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>תיאור </mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
  </div>
  <mat-error *ngIf="recipeForm.get('name')?.hasError('pattern')">שם מכיל לפחות 2 אותיות</mat-error>
  <mat-error *ngIf="recipeForm.get('description')?.hasError('pattern')">תיאור מכיל לפחות 2 אותיות</mat-error>

  <div class="row">
    <section class="section">
      <mat-form-field>
        <mat-label>קטגוריות</mat-label>
        <mat-select (selectionChange)="onCategoryChange($event)" formControlName="categories" multiple>
          <mat-option *ngFor="let c of categoryList " [value]="c.name">{{ c.name }}</mat-option>
          <mat-option value="אחר">אחר</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <mat-form-field>
      <mat-label>רמת קושי</mat-label>
      <mat-select formControlName="difficulity">
        <mat-option *ngFor="let d of difficulity; let i = index" [value]="i + 1">{{ d }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-error *ngIf="recipeForm.get('categories')?.hasError('required') && recipeForm.get('categories')?.touched">בחר
    לפחות קטגוריה אחת</mat-error>
  <mat-error *ngIf="recipeForm.get('difficulity')?.hasError('required') && recipeForm.get('difficulity')?.touched">בחר
    דרגת קושי </mat-error>

  <mat-accordion *ngIf="showNewCategoryInput" class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>קטגוריות חדשות </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div formArrayName="newCategories">
        <div *ngFor="let c of newCategories.controls; let i = index">
          <mat-form-field [formGroupName]="i">
            <mat-label>{{ i + 1 }}</mat-label>
            <input formControlName="name" matInput (input)="onCategoriesInput(i)">
          </mat-form-field>
        </div>
        <button *ngIf="showNewCategoryInput" mat-button (click)="addNewCategory()">אישור</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="section-header">זמן הכנה</div>

  <section class="section">
    <mat-form-field class="inp">
      <mat-label>שעות:</mat-label>
      <input formControlName="preparationHours" type="number" value="0" min="0" matInput>
    </mat-form-field>
    <mat-form-field class="inp">
      <mat-label>דקות:</mat-label>
      <input formControlName="preparationMinutes" type="number" matInput value="0" min="0">
    </mat-form-field>
  </section>
  <mat-error
    *ngIf="recipeForm.get('preparationHours')?.hasError('min') && recipeForm.get('preparationHours')?.touched&&recipeForm.get('preparationMinutes')?.hasError('min') && recipeForm.get('preparationMinutes')?.touched">הקש
    זמן הכנה</mat-error>

  <div formArrayName="layers">
    <div *ngFor="let layer of layers.controls; let layerIndex = index" [formGroupName]="layerIndex">
      <mat-form-field>
        <input matInput placeholder="שם שכבה" formControlName="description">
      </mat-form-field>
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>מרכיבים</mat-panel-title>
            <mat-panel-description>
              <mat-icon>restaurant_menu</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div formArrayName="ingredients">
            <div *ngFor="let ingredient of getIngredients(layer).controls; let ingredientIndex = index"
              [formGroupName]="ingredientIndex">
              <mat-form-field>
                <mat-label>{{ ingredientIndex + 1 }}</mat-label>
                <input formControlName="name" matInput (input)="onIngredientInput(layerIndex, ingredientIndex)">
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <button mat-button type="button" (click)="addLayer()">הוסף שכבה</button>
      <button mat-button type="button" (click)="removeLayer(layerIndex)" *ngIf="layers.length > 1">הסר שכבה</button>
    </div>
  </div>
  <mat-error *ngIf="recipeForm.get('layers')?.hasError('nonEmptyIngredients') && recipeForm.get('layers')?.touched">
    חייב להיות לפחות מצרך אחד שאינו ריק בכל שכבה</mat-error>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>הוראות הכנה </mat-panel-title>
        <mat-panel-description>
          <mat-icon>list</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div formArrayName="preparationInstructions">
        <div *ngFor="let instruction of instructions.controls; let i = index">
          <mat-form-field [formGroupName]="i">
            <mat-label>{{ i + 1 }}</mat-label>
            <input formControlName="step" matInput (input)="onInstructionInput(i)">
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-error
    *ngIf="recipeForm.get('preparationInstructions')?.hasError('nonEmptyPreparationInstructions') && recipeForm.get('preparationInstructions')?.touched">
    חייב להיות לפחות הוראת הכנה אחת שאינה ריקה
  </mat-error>

  <!-- <mat-form-field>
    <mat-label>קישור לתמונה</mat-label>
    <input formControlName="image" matInput>
  </mat-form-field> -->
  <div>
    <label for="image"></label>
    <input formControlName="image" type="file" id="image" (change)="onFileSelected($event)" />
  </div>

  <div *ngIf="selectedImage" class="image-container">
    <img [src]="selectedImage" alt="תמונה שנבחרה" class="selected-image">
  </div>

  <section style="direction: rtl;" class="example-section full-width">
    <label class="example-margin">האם פרטי:</label>
    <mat-radio-group formControlName="isPrivate">
      <mat-radio-button class="example-margin" value="לא">לא</mat-radio-button>
      <mat-radio-button class="example-margin" value="כן">כן</mat-radio-button>
    </mat-radio-group>
  </section>

  <button *ngIf="!isUpdateMode" type="submit" mat-flat-button class="button">הוסף מתכון</button>
  <button *ngIf="isUpdateMode" (click)="updateRecipe()" mat-flat-button>עדכן מתכון</button>
</form>