<!-- <link rel="stylesheet" href="../../../assets/fonts/DanaYadAlefAlefAlef-Normal.otf"> -->

<div class="background">
    <div *ngIf="isLoaded" class="slideshow-container">
      <div *ngFor="let slideGroup of slideGroups; let i = index" class="mySlides fade">
        <div class="numbertext">{{i + 1}} / {{slideGroups.length}}</div>
        <div class="slide-images">
          <div class="recipe-container" *ngFor="let r of slideGroup">
            <div class="recipe-name">{{r.name}}</div>
            <div class="image-container" >
            <button class="details-button" (click)="getRecipeDetails(r._id)">לפרטי המתכון</button>
            <img class="imageRecipe"(click)="getRecipeDetails(r._id)" [src]="r.imageUrl || r.image" alt="{{r.name}}" >
          </div>
          </div>
        </div>
      </div>
      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
    <br>
  </div>
  