<div *ngIf="!isLoggedIn()" class="guest-profile">
  <img class="icon" src="../assets/images/anonimy.png" alt="Guest Icon">
  <p class="text">מצב אורח</p>
</div>

<div (click)="isShowProfile()" *ngIf="isLoggedIn()" class="outer-circle">
  <div class="inner-circle">
    <p class="letter">{{ getFirst()|uppercase}}</p>
  </div>
  <!-- <img alt="{{ getUser()?.username }}"> -->
</div>

<mat-card class="profile-container" *ngIf="showProfile">
  <button (click)="isShowProfile()" class="close-button">×</button>
  <mat-card-content class="profile-details">
    <div mat-card-avatar class="avatar"></div>
    <p>שם משתמש:{{ getUser()?.username }}</p>
    <p>כתובת:{{ getUser()?.address }}</p>
    <p>אימייל:{{ getUser()?.email }}</p>
    <img class="logOut" (click)="logOut()" src="../assets/images/exit.png" alt="log out"/>
  </mat-card-content>
</mat-card>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">דף הבית</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="allrecipes" routerLinkActive="active">מתכונים</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">התחברות</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active">הרשמה</a>
        </li>
        <!-- *ngIf="isLoggedIn()" -->
        <li  class="nav-item">
          <a class="nav-link" routerLink="recipe-form" routerLinkActive="active">הוסף מתכון</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<router-outlet />