.recipe-details {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 2%;
  margin-bottom: 2%;
  text-align: center;
  direction: rtl;
}

.recipe-header {
  margin-bottom: 1%;
}

.recipe-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.recipe-image img {
  width: 100%;
  max-height: 30vh;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-ingredients {
  margin-bottom: 1%;
}

.recipe-ingredients ul {
  list-style-type: none;
  padding: 0;
}

.recipe-ingredients li {
  margin-bottom: 0.5%;
}

.ingredient-icon {
  margin-right: 0.5%;
}

.recipe-instructions {
  margin-bottom: 1%;
}

.recipe-instructions p {
  white-space: pre-wrap;
}

.recipe-actions button {
  margin-right: 1%;
}

.overview {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  list-style: none;
  direction: rtl;
  background-color: #fef5f6;
  height: 25vh;
  width: 50vw;
  margin:auto;
}

.overview-item {
  width: 10vw;
  height: 20vh;
  text-align: center;
  margin: 0 5px;
  background-color: white;
  border-radius: 15%;
}

.overview-item img {
  width: 4vw;
  height: auto;
}

.item-container {
  margin-top: 5px;
}

.key,
.value {
  font-size: 3vb;
}

.key-value {
  font-size: 2.5vb;
}

.difficulty-container {
  position: relative;
  top: 8%;
}
.gallery-container {
  text-align: center;
}

.gallery {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; /* כדי להסתיר חלקית את התמונות החוצות */
  width: 100%;
}

.images {
  display: flex;
  transition: transform 0.5s ease-in-out; 
}

.gallery-image {
  width: 20vw;
  height: auto;
  margin: 0 10px;
}

.arrow {
  top: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  color: #333;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
