<ul class="overview row">
    <li class="overview-item col-1">
        <img alt="ingredients_count"
            src="https://foody.co.il/app/themes/Foody/resources/images/icons/ingedients@2x.png?ver=1.2" />
        <div class="item-container">
            <div class="key" style="padding-top: 2px;"> מרכיבים:</div>
            <div class="value ingredients_count">{{recipe?.layers|countIngredients}} </div>
        </div>
    </li>
    <li class="overview-item col-1">
        <img alt="" src="https://foody.co.il/app/themes/Foody/resources/images/icons/clock@2x.png?ver=1.2">
        <div class="item-container">
            <div class="key-value preparation-time">
                <span class="key">זמן הכנה:</span>
                <br />
                {{recipe?.preparationTime|time}}
            </div>

        </div>
    </li>

    <li class="overview-item difficulty col-1">
        <div class="difficulty-container" style="top: 8%;">
            <div class="key">
                רמת קושי: </div>
            <div class="value difficulty_level">
                <div class="value difficulty_level">
                    {{recipe&& Difficulity[recipe.difficulty] }}
                </div>
            </div>
        </div>
    </li>
</ul>
<div class="recipe-details">
    <div class="recipe-header">
        <h2>{{ recipe?.name }}</h2>
        <h3 style="font-family: 'DanaYadAlefAlefAlef-Normal';">{{recipe?.description}}</h3>
        <div *ngFor="let c of recipe?.categories">
            <p>קטגוריה: {{c}}</p>
        </div>
    </div>
    <div class="recipe-image">
        <img src="{{ recipe?.imageUrl||recipe?.image }}" alt="{{ recipe?.name }}">
    </div>
    
    <div class="recipe-ingredients">
        <h3>רכיבים:</h3>
        <ul>
            <li *ngFor="let layer of recipe?.layers">
                <strong>{{ layer?.description }}:</strong>
                <ul>
                    <li *ngFor="let ingredient of layer?.ingredients">
                        <span class="ingredient-icon">🥄</span> {{ ingredient }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="recipe-instructions">
        <h3>אופן ההכנה:</h3>
        <div *ngFor="let instruction of recipe?.preparationInstructions; let i = index">
            <p>{{ i + 1 }}. {{ instruction }}</p>
        </div>
    </div>
    <!-- <div class="gallery-container">
        <div class="gallery">
          <button class="arrow left" (click)="showPrevious()">&lt;</button>
          <div class="images">
            <div *ngFor="let i of [0, 1]; let j = index">
              <div *ngIf="images[(currentIndex + j) % images.length]">
                <img [src]="images[(currentIndex + j) % images.length]" alt="Image" class="gallery-image">
              </div>
            </div>
          </div>
          <button class="arrow right" (click)="showNext()">&gt;</button>
        </div>
      </div> -->

    <div class="recipe-actions">
        <button (click)="updateRecipe()" *ngIf="isOwner" mat-button>עריכה</button>
        <button (click)="deleteRecipe()"  mat-button>מחיקה</button>
    </div>

</div>