@font-face {
    font-family: 'DanaYadAlefAlefAlef-Normal';
    src: url('../../../assets/fonts/DanaYadAlefAlefAlef-Normal.otf') format('opentype');
}

body {
    font-family: 'DanaYadAlefAlefAlef-Normal', 'Montserrat', sans-serif;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

.flex-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.button {
    background-color: #74d4e1;
    border: none;
    color: white;
    //padding: 3vh 3vb;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vb;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10vb;
}


.section {
    direction: rtl;
    margin-right: 0;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}

.container {
    display: flex;
    justify-content: space-between;
    float: right;
    margin-right: 10px;
}

.margin {
    margin: 0 12px;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

.recipe-card {
    width: 30vw;
    height: 60vh;
    align-items: center;
    margin: 5vb;
    display: flex;
    justify-content: center;

}

.flex-page {
    display: flex;
    direction: rtl;
}

.recipe-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.paginator {
    display: flex;
    justify-content: center
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

#recipe-img {
    width: 22vw;
    height: 40vh;
}

.difficulty-rating {
    display: flex;
    align-items: flex-end;
    direction: ltr;
}

.rating-level {
    width: 2vb;
    background-color: gray;
    margin-right: 0.5vb;
}

.rating-level.active {
    background-color: #71d5e0;
    ;
}

.rating-level:nth-child(1) {
    height: 1vb;
}

.rating-level:nth-child(2) {
    height: 2vb;
}

.rating-level:nth-child(3) {
    height: 3vb;
}

.rating-level:nth-child(4) {
    height: 4vb;
}

.rating-level:nth-child(5) {
    height: 5vb;
}